@model GiftOfTheGivers.Models.ProfileModel

<h2>Profile</h2>

<p>Email: @Model.Email</p>
<p>Phone Number: @Model.PhoneNumber</p>

<a asp-action="EditProfile">Edit Profile</a>
<a asp-action="ChangePassword">Change Password</a>


